<br><br>
<h1>Vuelos TEC Plane</h1>
<h2 style="color:lavender;">Si no se presenta el monto en pantalla la aerolinea no tiene vuelos con boletos vendidos</h2>
<br><br>
<div class="row">
    <br><br>

    {{#each TotalAerolineasConVuelosFiltrados}}
        {{#each this}}
        <div class="col-md-8">
            <div class="reporte">
                <div class="cuerpo">

                    
                    
                    {{#if nombreEnAerolineas}}
                    <h1>Nombre Aerolinea: {{nombreEnAerolineas}}</h1>
                    {{/if}}
                    <br>

                    {{#if idVuelo}}
                    <h3>Vuelo</h3>
                    <p>idVuelo: {{idVuelo}}</p>
                    <p>Nombre: {{nombre}}</p>
                    <p>Estado: {{estado}}</p>
                    <p>Restricciones: {{restricciones}}</p>
                    <p>Servicios: {{servicios}}</p>
                    <p>Origen: {{origen}}</p>
                    <p>Destino: {{destino}}</p>
                    {{/if}}
                    
                    {{#if MontototalPorAerolinea}}
                    <h5>Monto total en Aerolinea : {{MontototalPorAerolinea}}</h5>
                    {{/if}}
                    <br><br>
                    {{#if sinMonto}}
                    <h5>Monto total en Aerolinea : {{sinMonto}}</h5>
                    {{/if}}
                   

                </div>
            </div>
        </div>
        
        {{/each}}
        <br><br>
    {{/each}}
</div>
<br><br><br>