<br><br>
<h4>Funcionarios TEC Plane</h4>
<br><br>
<div class="row">
    <br><br>
    {{#each funcio}}
    <div class="col-md-3">
        <div class="funcionario">
            <div class="cuerpo">
                <h5 class="Cedula">
                  Cédula:  {{idFuncionario}}
                </h5>
                <p>Nombre: {{nombre}}</p>
                <p>Tipo: {{tipo}}</p>
                <p>Fecha Contratación: {{fechaContratacion}}</p>
                <p>Área Trabajo: {{AreaTrabajo}}</p>
                <p>Correo: {{correo}}</p>
                <br><br>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<br><br><br>