<br><br>
<h4>Aeropuertos TEC Plane</h4>
<br><br>
<div class="row">
    <br><br>
    {{#each aerolineas}}
    <div class="col-md-3">
        <div class="aerolinea">
            <div class="cuerpo">
                <h5 class="nombre">
                  Nombre:  {{nombre}}
                </h5>
                <p>idAerolinea: {{idAerolinea}}</p>
                <p>Paises: </p>{{paises}}</p>
                <p>Nombre Aeropuerto: {{nombreAeropuerto}}</p>
                <br><br>
            </div>
        </div>
    </div>
    {{/each}}

    {{#each resultadoFinal}}
    <div class="col-md-7">
        <div class="aeropuerto">
            <div class="cuerpo">
                <h5 class="nombre">
                  Nombre:  {{nombre}}
                </h5>
                <p>idAerolinea: {{idAerolinea}}</p>
                <p>Paises: </p>{{paises}}</p>
                <p>Nombre Aeropuerto: {{nombreAeropuerto}}</p>
                <br><br>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<br><br><br>