{{#each errores}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}

{{#each noEncontrado}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
<br><br>
<h4>Vuelos TEC Plane</h4>
<br><br>
<div class="row">
    <br><br>
    {{#each vuelosPorCliente}}
    <div class="col-md-3">
        <div class="vuelos">
            <div class="cuerpo">
                <h5 class="nombre">
                  IdVuelo:  {{idVuelo}}
                </h5>
                <p>Nombre: {{nombre}}</p>
                <p>Nombre Aerolínea: {{nombreAerolinea}}</p>
                <p>Origen {{origen}}</p>
                <p>Destino: {{destino}}</p>
                <p>Fecha de ida: {{fechaIda}}</p>
                <p>Fecha de vuelta: {{fechaVuelta}}</p>
                <p>Precio {{precio}}</p>
                <p>Restricciones: {{restricciones}}</p>
                <p>Servicios: {{servicios}}</p>
                <p>Estado: {{estado}}</p>
                <p>Maximos: {{maximo}}</p>
                <p>Disponibles: {{disponibles}}</p>
                
                <br><br>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<br><br><br>