
<br><br>
<h4>Clientes TEC Plane</h4>
<br><br>
<div class="row">
    <br><br>
    {{#if client}}
    <div class="col-md-3">
        <div class="usuario">
            <div class="cuerpo">
                <h5 class="nombre">
                  Cédula pasajero:  {{client.idPasajero}}
                </h5>
                <p>Nombre: {{client.nombre}}</p>
                <p>Fecha de nacimiento:{{client.fechaNacimiento}}</p>
                <p>Residencia: {{client.residencia}}</p>
                <p>Teléfonos: {{client.telefonos}}</p>
                <p>Correo: {{client.correo}}</p>
                <p>Correo: {{client.infoCompra}}</p>
                <br><br>
            </div>
        </div>
    </div>
    {{/if}}
</div>
<br><br><br>